body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #bbb6b6;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Form Styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
    color: #fff;
}
nav {
    width: 250px;
    flex: 1;
    background-color: #100404;
    padding: 20px;
    border-right: 1px solid #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f7f3f3;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
}

table,tr,td,th{
    border: 2px solid rgb(161, 149, 149);
    padding: 3px 2px;
}
button{
    margin-bottom: 5px;
}

